@font-face{
font-family: Vidaloka;
src: url(../fonts/Vidaloka.ttf);
}
@font-face{
font-family: OleoScript;
src: url(../fonts/OleoScript.ttf);
}
.navbar{
  background-color: #262255;
}

.input{
  position: absolute;
width: 859px;
height: 515px;
left: 311px;
top: 150px;

background: #C4BDDD;
border: 4px solid #80559B;
box-sizing: border-box;
}

#header{
  text-align: center;
  font-size: 60px;
color: #443147;
font-family: Vidaloka;
}

h3{
  color:#80559B;
  font-family: OleoScript;

}

h1{
  color:#80559B;
  font-family: Vidaloka;
}
input[type=submit]{
  width: 368px;
  height: 100px;
  font-family: Vidaloka;
  font-size: 70px;
  background-color: #80559B;
}

.submit{
  position: absolute;
  width: 372px;
height: 107px;
left: 526px;
top: 700px;
}

.img-fluid{
  width: 100px;
  height: 100px;
}
